[submodule "external_repos/antifake"]
	path = external_repos/antifake
	url = https://github.com/yryMax/AntiFake.git
[submodule "external_repos/NISQA"]
	path = external_repos/NISQA
	url = https://github.com/gabrielmittag/NISQA.git
[submodule "external_repos/TTS"]
	path = external_repos/TTS
	url = https://github.com/coqui-ai/TTS.git
[submodule "external_repos/OpenVoice"]
	path = external_repos/OpenVoice
	url = https://github.com/yryMax/OpenVoice
[submodule "external_repos/CosyVoice"]
	path = external_repos/CosyVoice
	url = https://github.com/yryMax/CosyVoice.git
[submodule "external_repos/Pivotal_Objective_Perturbation"]
	path = external_repos/Pivotal_Objective_Perturbation
	url = https://github.com/yryMax/Pivotal_Objective_Perturbation
[submodule "external_repos/SafeSpeech"]
	path = external_repos/SafeSpeech
	url = https://github.com/yryMax/SafeSpeech.git
[submodule "external_repos/Spark-TTS"]
	path = external_repos/Spark-TTS
	url = https://github.com/yryMax/Spark-TTS.git
